@model IdentityNew.Models.LessonCreateViewModel

<div class="row">
    <h3> </h3> <!-- vertical spacer for header/navbar that won't play nice-->
</div>

<div class="row">
    <h3>Lesson Editing and Creation Page</h3>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading" id="mypanelId">Select a template</div>
            <div class="panel-body">
                @*javascript TODO: mouse in/out highlight, on click style=primary and load template partial view*@
                @* TODO implement templates *@
                <button type="button" class="btn btn-default" style="margin-left: 16px">
                    <i class="fa fa-columns"></i> Vertical Split
                </button>
                <button type="button" class="btn btn-default" style="margin-left: 16px">
                    <i class="fa fa-th-large"></i> Coding Box + Text
                </button>
                <button type="button" class="btn btn-default" style="margin-left: 16px">
                    <i class="fa fa-square"></i> Single Pane
                </button>
                <button type="button" class="btn btn-primary" style="margin-left: 16px">
                    <i class="fa fa-id-card-o"></i> Video + Text
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel-primary">
            <div class="panel-heading" id="mypanelId">Edit</div>
            @*changes what to upload depending on partial view, actually part of the partial view, creates browse for modal*@
            <div class="panel-body">
                <div class="form-inline">
                    @Html.ActionLink("New Lesson", "InstructorLessonEditView", "Instructor", null, new { @class = "btn btn-default" })
                    @Html.ActionLink("Next Lesson", "InstructorLessonEditView", "Instructor", new { lessonID = Model.NextID }, new { @class = "btn btn-default" })
                    <label>Title: @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })</label>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-inline">
                    <label>Video Http Address: @Html.TextBoxFor(x => Model.VideoLink, new { @class = "form-control", @id = "vidAddress" })</label>
                    <button type="button" class="btn btn-primary" style="margin-left: 16px" onclick="loadVideo()">Activate</button>
                </div>
                @*<div>
                        <label for="file">Filename:</label>
                        <input type="file" name="file" id="file" />
                        <input type="submit" id="submitbtn" />
                    </div>*@
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="panel-primary">
            <div class="panel-heading" id="mypanelId">Preview</div>
            <div class="media">
                <div class="media-left">
                    <iframe frameborder="0" width="320" height="240" id="iFrameIs" src=""></iframe>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" id="#mypanelId">@Html.TextBoxFor(x => x.Intro, new { @class = "form-control" })</h4>
                    <p>
                        @Html.TextAreaFor(x => x.Text, new { @class = "form-control", @rows = "10" })
                    </p>
                </div>
            </div>
            <div>
                <!-- Useful tools for creating a lesson go here -->
                <div class="row">
                    <label>Add html link inside the text</label>
                    @Html.TextBox("Copy/paste url here")
                    <button>Add</button>
                </div>
                <div class="row">
                    <label>Upload a document</label>
                    @Html.TextBox("Copy/paste url here")
                    <button>Browse</button>
                    <button>Save</button>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div>
                        @Html.CheckBox("Use the document as the lesson's text")<label>Use the document as the lesson's text</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div>
                        @Html.CheckBox("Add a link to the document in the resources")<label>Add a link to the document in the resources</label>
                    </div>
                </div>
                <div class="row">
                    <label>Upload a video</label>
                    @Html.TextBox("Copy/paste url here")
                    <button>Browse</button>
                    <button>Save</button>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div>
                        @Html.CheckBox("Use the upload as the lesson's video")<label>Use the upload as the lesson's video</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div>
                        @Html.CheckBox("Add a link to the video in the resources")<label>Add a link to the video in the resources</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <hr />
        <div class="row">
            <div class="panel-primary">
                <div class="panel-heading" id="mypanelId">Select Work, Previous Lesson, and Next Lesson</div>
                @*bunches of javascript for choosing stuff and changing the titles*@
                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group" style="margin-left: 16px">
                            <label>Lesson Work:</label>
                            @Html.DropDownListFor(x => Model.WorkID, Model.WorkList, "Select an Exercise", new { @class = "form-control" })
                            @Html.ActionLink("Edit Work", "InstructorWorkEditView", new { workID = Model.WorkID }, new { @class = "btn btn-default" })
                        </div>
                        <div class="form-group" style="margin-left: 16px">
                            <label>Next Lesson:</label>
                            @Html.DropDownListFor(x => Model.NextID, Model.NextLessonList, "Select a lesson", new { @class = "form-control" })
                        </div>
                        <div class="form-group" style="margin-left: 16px">
                            <label>Previous Lesson:</label>
                            @Html.DropDownListFor(x => Model.PreviousID, Model.PreviousLessonList, "Select a lesson", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="panel-body form-group">
                <input type="submit" value="Save" class="btn btn-success" style="margin-left: 16px" />
                @Html.ActionLink("Create Exercise", "InstructorWorkEditView", "Instructor", Model.WorkID, new { @class = "btn btn-default" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="panel-primary">
                <div class="panel-heading" id="mypanelId">Useful Links</div>
                <div class="panel-body">
                    @Html.ActionLink("Student Lesson Preview", "StudentLessonView", "Student", null, new { @class = "btn btn-default" })
                    @Html.ActionLink("Course Create/Edit", "InstructorCourseEditView", "Instructor", null, new { @class = "btn btn-default" })
                    @Html.ActionLink("Home", "InstructorHomeView", "Instructor", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
}
<script type="text/javascript">

    function loadVideo() {
        var site = document.getElementById('vidAddress').value;
        document.getElementById('iFrameIs').src = site;
    };

    window.onload = function () {
        loadVideo();
    };

</script>