@model IdentityNew.Models.InstructorCourseEditViewModel

@{
    ViewBag.Title = "View";
}
<div class="row">
    <h3> </h3> <!-- vertical spacer for header/navbar that won't play nice-->
</div>
<div class="row">
    <h2>InstructorCourseEditView</h2>
</div>
@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading" id="mypanelId">
            <label>Course Title: </label>
            @Html.TextBoxFor(model => model.Course.Title, new { @class = "form-control" })
        </div>

        <div class="panel-body">
            <label>Course Description</label>
            @Html.TextAreaFor(x => x.Course.Description, new { @class = "form-control", @rows = "10", @cols = "50" })
        </div>
    </div>

            <div class="panel panel-primary">
                <div class="panel-heading" id="mypanelId">
                    <label>Lessons</label>
                </div>
                <div class="panel-body">
                    <div class="col-sm-4">
                        <label>Current Lesson List</label>

                        @Html.ListBoxFor(x => x.LessonList, Model.LessonList, new { @class = "form-control" })

                        @Html.ActionLink("Remove Selected Lesson", "", null, new { @class = "btn btn-info" })
                    </div>
                    <div class="col-sm-4">
                        <label>Selected Lessons</label>
                        @Html.ListBoxFor(x => x.LessonOrder, Model.LessonOrder, new { @class = "form-control" })

                        @Html.ActionLink("Add Lesson", "", null, new { @class = "btn btn-info" })
                        @* TODO make the below button go to the selected lesson *@
                        @Html.ActionLink("Edit", "InstructorLessonEditView", null, new { @class = "btn btn-info" })
                    </div>

                </div>

                <div class="panel-footer">
                    @Html.ActionLink("Save", "", null, new { @class = "btn btn-success" }) @Html.ActionLink("Clear", "", null, new { @class = "btn btn-default" })
                </div>
            </div>


}