@model IdentityNew.Models.InstructorCourseManageViewModel
@{
    ViewBag.Title = "InstructorCourseManagementView";
}
<div class="row">
    <h3> </h3> <!-- vertical spacer for header/navbar that won't play nice-->
</div>
<h2>Manage Course</h2>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading" id="mypanelId">Course Info</div>
        <div class="panel-body">
            @*various statistics about the course?*@
            <div>
                @Html.ActionLink(Model.Course.Title, "InstructorCourseEditView", new { id = Model.Course.ID })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading" id="mypanelId">Lessons</div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <ul>
                        @foreach (var lesson in Model.LessonList)
                        {
                            <li>@Html.ActionLink(lesson.Title, "InstructorLessonManagementView", new { lessonID = lesson.ID })</li>
                        }
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        @foreach (var lesson in Model.LessonList)
                        {
                            <li>@Html.ActionLink("Edit", "InstructorLessonEditView", new { lessonID = lesson.ID })</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading" id="mypanelId">Students</div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <ul>
                        @foreach (var student in Model.StudentList)
                        {
                            <li>
                                @Html.ActionLink(student.LastName + ", " + student.FirstName, "InstructorStudentManagementView", new { studentID = student.ID })
                            </li>
                        }
                    </ul>
                </div>
                <!-- became redundant -->
                @*<div class="col-sm-3">
                        <ul>
                            @foreach (var student in Model.StudentList)
                            {
                                <li>
                                    @Html.ActionLink("Student Work", "InstructorStudentManagementView", new { studentID = student.ID })
                                </li>
                            }
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
</div>
