
@{
    ViewBag.Title = "InstructorCourseCreationView";
}

<h2>InstructorCourseCreationView</h2>

<div>
    page for creating/editing courses
    basic instructions
    choose a course to edit
    create a course button
</div>
<div class="panel panel-primary">
    <div class="panel-heading" id="mypanelId">Instructions</div>
    <div class="panel-body">
        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah 
        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah 
        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah 
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading" id="mypanelId">Add/Edit a course</div>
    <div class="panel-body">
        <ul>
            <li>@Html.ActionLink("course", "InstructorCourseEditView", "Instructor")</li>
            <li>@Html.ActionLink("course", "InstructorCourseEditView", "Instructor")</li>
            <li>@Html.ActionLink("course", "InstructorCourseEditView", "Instructor")</li>
            <li>@Html.ActionLink("course", "InstructorCourseEditView", "Instructor")</li>
        </ul>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a course", "InstructorCourseEditView", "Instructor")
    </div>
</div>
