
@{
    ViewBag.Title = "StudentLesson";
}

<h2>Student Lessons</h2>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Student Menu
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentHomeView", "Student")'">Student Home View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentCourseView", "Student")'">Student Course View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentGradeView", "Student")'">Student Grade View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Student Lesson View &raquo;</a></li>
    </ul>
</div>

<div class="panel panel-primary" style="height: 700px;">
    <div class="panel-heading" id="mypanelId">Lessons</div>
    <div class="col-sm-3">
        @*<div class="panel-heading">Lessons</div>*@
        <div class="panel-body">
            <ul>
                @*<li>
                        @Html.Partial("_StudentLesson1View")
                    </li>*@
                <li>
                    @Ajax.ActionLink("Lesson #1", "LoadStudentLesson1", "Student",
                                new AjaxOptions { UpdateTargetId = "Display", InsertionMode = InsertionMode.Replace })
                </li>
                <li>
                    @Ajax.ActionLink("Lesson #2", "LoadStudentLesson2", "Student",
                                new AjaxOptions { UpdateTargetId = "Display", InsertionMode = InsertionMode.Replace })
                </li>
                <li>
                    @Ajax.ActionLink("Lesson #3", "LoadStudentLesson3", "Student",
                                new AjaxOptions { UpdateTargetId = "Display", InsertionMode = InsertionMode.Replace })
                </li>
                <li>Lesson</li>
                <li>@Html.ActionLink("Resources", "ResourcesView", "Student", null, new { target = "_blank"@*, @class = "btn btn-primary"*@ })</li>
            </ul>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="panel-heading">Lesson</div>
        <div class="panel-body">
            <div id="Display">

            </div>
        </div>
    </div>
</div>