@model IdentityNew.Models.WorkModel
@{
    ViewBag.Title = "StudentWorkView2";
}

<script src="https://cdn.datacamp.com/datacamp-light-latest.min.js"></script>

<h2>StudentWorkView</h2>

<div>
    <h1>@Html.DisplayFor(x=>x.Title)</h1>
    <h3>@Html.DisplayFor(x=>x.InstructionText)</h3>
</div>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Student Menu
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentHomeView", "Student")'">Student Home View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentCourseView", "Student")'">Student Course View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentGradeView", "Student")'">Student Grade View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Student Lesson View &raquo;</a></li>
    </ul>
</div>

<h3>MY WORK</h3>
<div class="panel panel-primary">
    <div class="panel-heading" id="mypanelId">My work</div>
    <div class="panel-body">
        <h4>Python exercise 2: Variables</h4>
        <div data-datacamp-exercise data-lang="python">
            <code data-type="pre-exercise-code">
                # This will get executed each time the exercise gets initialized
                b = 6
            </code>
            <code data-type="sample-code">
                # Create a variable savings
                savings = 100

                # Create a variable factor


                # Calculate result


                # Print out result

            </code>
            <code data-type="solution">
                # Create a variable savings
                savings = 100

                # Create a variable factor
                factor = 1.1

                # Calculate result
                result = savings * factor ** 7

                # Print out result
                print(result)
            </code>
            <code data-type="sct">
                test_object("savings", undefined_msg = "The variable `savings` was defined for you, don't remove it!",
                incorrect_msg = "The variable `savings` should be `100`, like it was defined for you.")
                test_object("factor", incorrect_msg = "The value of `factor` should be `1.1`.")
                test_object("result", incorrect_msg = "Have you used `*` and `**` to calculate `result`?")
                msg = "Don't forget to print out `result` after assigning it."
                test_print(not_called_msg = msg, incorrect_msg = msg)
                success_msg("Great!")
            </code>
            <div data-type="hint">To create the variable factor, use factor = 1.10.
In the example code block of the assignment, replace 100 with savings and 1.10 with factor: savings * factor ** 7.
Use the print() function to print the value of a variable.</div>
        </div>
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Back to Lessons &raquo;</a>
    </div>
</div>