@model IdentityNew.Models.CourseModel
@{
    ViewBag.Title = "StudentCourse";
}
<div class="row">
    <h3> </h3> <!-- vertical spacer for header/navbar that won't play nice-->
</div>
<h2>Student Courses</h2>


<!--Dropdown menu-->
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Student Menu
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentHomeView", "Student")'">Student Home View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentCourseView", "Student")'">Student Course View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentGradeView", "Student")'">Student Grade View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Student Lesson View &raquo;</a></li>
    </ul>
</div>

<!--Indents announcements and course names-->
<style>
    p {
        text-indent: 50px;
    }
</style>

<!--Student courses-->
<div class="panel panel-primary">
    <div class="panel-heading" id="mypanelId">MY COURSES</div>
    <div class="panel-body">
        <p><b>@Html.DisplayFor(x => x.Title)</b></p>
        <p>@Html.DisplayFor(x => x.Description)</p>
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Lessons &raquo;</a>
    </div>
</div>
