@model IdentityNew.Models.CourseModel
@{
    ViewBag.Title = "StudentHome";
}

<h2>StudentHomepage</h2>

<div>
    displays student account management, accessable courses, current courses, past courses, and course progress
    some of those may be partial views, collapsable/popups
</div>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Student Menu
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentHomeView", "Student")'">Student Home View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentCourseView", "Student")'">Student Course View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentGradeView", "Student")'">Student Grade View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Student Lesson View &raquo;</a></li>
    </ul>
</div>

<!--Indents announcements and course names-->
<style>
    p {
        text-indent: 50px;
    }
</style>

<div class="panel panel-primary">
     <div class="panel-heading" id="mypanelId">ANNOUNCEMENTS</div>
        <div class="panel-body">
            <p>Announcement details Announcement details Announcement details</p>
            <p>Announcement details Announcement details Announcement details</p>
            <p>Announcement details Announcement details Announcement details</p>
            <p>Announcement details Announcement details Announcement details</p>   
        </div>
    </div>

<div class="panel panel-primary", style="height: auto">
    <div class="panel-heading" id="mypanelId">MY COURSES</div>
    <div class="panel-body">
        <p><b>@Html.DisplayFor(x => x.Title)</b></p>
        <p>@Html.DisplayFor(x=>x.Description)</p>
        @*<p>DISPLAY COURSE #2</p>
        <p>DISPLAY COURSE #3</p>
        <p>DISPLAY COURSE #4</p>*@
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Lessons &raquo;</a>
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("ResourcesView", "Student")'">Resources &raquo;</a>
    </div>
</div>