
@{
    ViewBag.Title = "StudentLessonView";
}

<h2>StudentLessonView</h2>

<div>
    this is where the students will see the lesson stuff, particularly text, video, audio, and links
    lesson work ststus will be here (not started, in progress, submitted, graded)
</div>

<!--Dropdown menu-->
<style>
    /* Style The Dropdown Button */
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>

<div class="dropdown">
    <button class="btn btn-default">Student Menu</button>
    <div class="dropdown-content">
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentCourseView", "Student")'">Student Course View &raquo;</a>
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentWorkView", "Student")'">Student Work View &raquo;</a>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading" id="mypanelId">Lessons</div>
    <div class="col-sm-3">
        @*<div class="panel-heading">Lessons</div>*@
        <div class="panel-body">
            <ul>
                @*<li>
                        @Html.Partial("_StudentLesson1View")
                    </li>*@
                <li>
                    @Ajax.ActionLink("Lesson #1", "LoadStudentLesson1", "Student",
                                new AjaxOptions { UpdateTargetId = "Display", InsertionMode = InsertionMode.Replace })
                </li>
                <li>
                    @Ajax.ActionLink("Lesson #2", "LoadStudentLesson2", "Student",
                                new AjaxOptions { UpdateTargetId = "Display", InsertionMode = InsertionMode.Replace })
                </li>
                <li>
                    @Ajax.ActionLink("Lesson #3", "LoadStudentLesson3", "Student",
                                new AjaxOptions { UpdateTargetId = "Display", InsertionMode = InsertionMode.Replace })
                </li>
                <li>Lesson</li>
                <li>Lesson</li>
                <li>Lesson</li>
                <li>Lesson</li>
                <li>Lesson</li>
                <li>Lesson</li>
            </ul>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="panel-heading">Lesson</div>
        <div class="panel-body">
            <div id="Display">

            </div>
        </div>
    </div>
</div>


@*<div class="panel-primary">
    <div class="panel-heading" id="mypanelId">Resources</div>
    <div class="panel-body">
        <div class="form-inline">
        </div>
    </div>
</div>*@

@*<div class="form-group">
    <div class="col-sm-4">
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Previous Lesson &raquo;</a>
    </div>
    <div class="col-sm-4">
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentWorkView", "Student")'">Work Page &raquo;</a>
    </div>
    <div class="col-sm-4">
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Next Lesson &raquo;</a>
    </div>
</div>*@




@*<div>
    <div class="panel panel-primary">
        <div class="panel-heading" id="mypanelId">LESSON #1</div>
        <div class="panel-body">
            <h2>String Lesson</h2>
            <p>In this lesson, you will learn about String and its uses</p>
            <iframe width="560"
                    height="315"
                    src="https://www.youtube.com/embed/pqmhZcPpTys?rel=0"
                    frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>

    <hr />

    <div class="panel-primary">
        <div class="panel-heading" id="mypanelId">Resources</div>
        <div class="panel-body">
            <div class="form-inline">
            </div>
        </div>
    </div>
    <hr />

    <div class="form-group">
        <div class="col-sm-4">
            <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Previous Lesson &raquo;</a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentWorkView", "Student")'">Work Page &raquo;</a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Next Lesson &raquo;</a>
        </div>
    </div>
</div>*@






@*<!--BUTTONS ALONE-->
    <div>
        <!--links to student work pages-->
        <p><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentWorkView", "Student")'">Student Work View &raquo;</a></p>
    </div>
    <div>
        links to next and previous lessons,
        @Html.ActionLink("Student Next /Prev Lesson View", "StudentLessonView", "Student")
    </div>
    <div>
        <!--links to student courses pages-->
        <p><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentCourseView", "Student")'">Student Course View &raquo;</a></p>
    </div>*@
