
@{
    ViewBag.Title = "StudentCourse";
}

<h2>StudentCourse</h2>

<div>displays info, overviews, progress, lessons</div>
<div>
    <!--Parameters: Link Name, View, Controller-->
    <!--links to student home page-->
    @* @Html.ActionLink("Student Home View", "StudentHomeView", "Student") *@
    <!--View, Controller, Link Name-->
    <p><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentHomeView", "Student")'">Student Home View &raquo;</a></p>
</div>
<div>
    links to instructor communication
    @*@Html.ActionLink("Student Course View", "StudentCourseView", "Student")*@
</div>
<div>
    <!--links to student lesson pages-->
    @* @Html.ActionLink("Student Course View", "StudentLessonView", "Student") *@
    <p><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Student Lesson View &raquo;</a></p>
</div>
<div>
    <!--links to student work pages-->
    @* @Html.ActionLink("Student Work View", "StudentWorkView", "Student") *@
    <p><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentWorkView", "Student")'">Student Work View &raquo;</a></p>
</div>