
@{
    ViewBag.Title = "InstructorLessonManagement";
}

<h2>Course: Lesson</h2>
<div class="form-group">
    <div class="col-sm-4">
        @Html.ActionLink("Next Lesson button", "InstructorLessonManagementView", "Instructor")
    </div>
    <div class="col-sm-4">
        @Html.ActionLink("Course Management button", "InstructorCourseManagementView", "Instructor")
    </div>
    <div class="col-sm-4">
        @Html.ActionLink("Previous Lesson button", "InstructorLessonManagementView", "Instructor")
    </div>
</div>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading">Summary/preview of lesson content/work</div>
    <div class="panel-body">
        <p>
            Argle bargle wargle fargle
            blah blah blah
            load from lesson
        </p>
    </div>
    <div class="panel-footer">
        <div class="form-group">
            <div class="col-sm-4">
                @Html.ActionLink("Edit button", "InstructorLessonEditView", "Instructor")
            </div>
            <div class="col-sm-4">
                @Html.ActionLink("Preview lesson button", "InstructorLessonEditView", "Instructor")
            </div>
            <div class="col-sm-4">
                @Html.ActionLink("Preview work button", "InstructorLessonEditView", "Instructor")
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">list of students</div>
    big list here, sorted by submitted - not submitted - grade accepted
    <div class="panel-body">
        <div class="col-sm-3">
            <ul>
                <li>@Html.ActionLink("name of student", "InstructorStudentManagementView", "Instructor")</li>
                <li>@Html.ActionLink("name of student", "InstructorStudentManagementView", "Instructor")</li>
                <li>@Html.ActionLink("name of student", "InstructorStudentManagementView", "Instructor")</li>
                <li>@Html.ActionLink("name of student", "InstructorStudentManagementView", "Instructor")</li>
            </ul>
            
        </div>
        <div class="col-sm-3">
            <ul>
                <li>show submission link</li>
                <li>show submission link</li>
                <li>show submission link</li>
                <li>show submission link</li>
            </ul>
            
        </div>
        <div class="col-sm-2">
            <ul>
                <li>auto-grade</li>
                <li>auto-grade</li>
                <li>auto-grade</li>
                <li>auto-grade</li>
            </ul>
            
        </div>
        <div class="col-sm-2">
            <ul>
                <li>edit/accept</li>
                <li>edit/accept</li>
                <li>edit/accept</li>
                <li>edit/accept</li>
            </ul>
            
        </div>
        <div class="col-sm-2">
            <ul>
                <li>send email?</li>
                <li>send email?</li>
                <li>send email?</li>
                <li>send email?</li>
            </ul>
            
        </div>
    </div>
</div>
