
@{
    ViewBag.Title = "StudentLessonView";
}

<h2>StudentLessonView</h2>

<div>
    this is where the students will see the lesson stuff, particularly text, video, audio, and links
    lesson work ststus will be here (not started, in progress, submitted, graded)
</div>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Student Menu
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentHomeView", "Student")'">Student Home View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentCourseView", "Student")'">Student Course View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentGradeView", "Student")'">Student Grade View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Student Lesson View &raquo;</a></li>
        <li><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentWorkView", "Student")'">Student Work View &raquo;</a></li>
    </ul>
</div>

<div class="panel panel-primary" style="height: 700px;">
    <div class="panel-heading" id="mypanelId">Lessons</div>
    <div class="col-sm-3">
        @*<div class="panel-heading">Lessons</div>*@
        <div class="panel-body">
            <ul>
                @*<li>
                        @Html.Partial("_StudentLesson1View")
                    </li>*@
                <li>
                    @Ajax.ActionLink("Lesson #1", "LoadStudentLesson1", "Student",
                                new AjaxOptions { UpdateTargetId = "Display", InsertionMode = InsertionMode.Replace })
                </li>
                <li>
                    @Ajax.ActionLink("Lesson #2", "LoadStudentLesson2", "Student",
                                new AjaxOptions { UpdateTargetId = "Display", InsertionMode = InsertionMode.Replace })
                </li>
                <li>
                    @Ajax.ActionLink("Lesson #3", "LoadStudentLesson3", "Student",
                                new AjaxOptions { UpdateTargetId = "Display", InsertionMode = InsertionMode.Replace })
                </li>
                <li>Lesson</li>
                <li>@Html.ActionLink("Resources", "ResourcesView", "Student", null, new { target = "_blank"@*, @class = "btn btn-primary"*@ })</li>
            </ul>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="panel-heading">Lesson</div>
        <div class="panel-body">
            <div id="Display">

            </div>
        </div>
    </div>
</div>


@*<div class="panel-primary">
    <div class="panel-heading" id="mypanelId">Resources</div>
    <div class="panel-body">
        <div class="form-inline">
        </div>
    </div>
</div>*@

@*<div class="form-group">
    <div class="col-sm-4">
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Previous Lesson &raquo;</a>
    </div>
    <div class="col-sm-4">
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentWorkView", "Student")'">Work Page &raquo;</a>
    </div>
    <div class="col-sm-4">
        <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Next Lesson &raquo;</a>
    </div>
</div>*@




@*<div>
    <div class="panel panel-primary">
        <div class="panel-heading" id="mypanelId">LESSON #1</div>
        <div class="panel-body">
            <h2>String Lesson</h2>
            <p>In this lesson, you will learn about String and its uses</p>
            <iframe width="560"
                    height="315"
                    src="https://www.youtube.com/embed/pqmhZcPpTys?rel=0"
                    frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>

    <hr />

    <div class="panel-primary">
        <div class="panel-heading" id="mypanelId">Resources</div>
        <div class="panel-body">
            <div class="form-inline">
            </div>
        </div>
    </div>
    <hr />

    <div class="form-group">
        <div class="col-sm-4">
            <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Previous Lesson &raquo;</a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentWorkView", "Student")'">Work Page &raquo;</a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentLessonView", "Student")'">Next Lesson &raquo;</a>
        </div>
    </div>
</div>*@






@*<!--BUTTONS ALONE-->
    <div>
        <!--links to student work pages-->
        <p><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentWorkView", "Student")'">Student Work View &raquo;</a></p>
    </div>
    <div>
        links to next and previous lessons,
        @Html.ActionLink("Student Next /Prev Lesson View", "StudentLessonView", "Student")
    </div>
    <div>
        <!--links to student courses pages-->
        <p><a href="#" class="btn btn-default" onclick="location.href='@Url.Action("StudentCourseView", "Student")'">Student Course View &raquo;</a></p>
    </div>*@
